[Desktop Entry]
Name=AcetoneISO
GenericName=ISO Image Tool
Comment=
Type=Application
Exec=kmdr-executor '/opt/acetoneiso/AcetoneISO.kmdr'
Path=
Icon=/usr/share/pixmaps/acetone.png
MimeType=
Categories=;DiscBurning;AudioVideo;Video
StartupNotify=true
Terminal=false
TerminalOptions=
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
